
<div class="containernar">
    <ul class="narvar">
      <li class = "home"><a class="active" href="/">Home</a></li>
      <li class = "phongban"><a href="/phongban">Thông báo</a></li>
        <li class = "info"><a href="/info/{{id}}" >Info</a></li>
        {{#ifCond  role "==" 'admin'}}<li class = "admin"><a href="/admin" >admin</a></li>{{/ifCond }}
    
      <li class = "logout"><a href="/logout" >Logout</a></li>
    </ul>
  </div>
<div class="alert alert-success alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Success!</strong> Update success.
</div>
<div class="alert alert-danger alert-dismissible">
  <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
  <strong>Warning!</strong> Something was Wrong.
</div>


<div class="container bootstrap snippets bootdey">
    <div class="row">
        <input type="hidden" id = "hiddenid" value="{{id}}">
        <div class="panel">
            <div class="cover-photo">
              <div class="fb-timeline-img">
                  <img src="https://bootdey.com/img/Content/bg1.jpg" alt="">
              </div>
              <div class="fb-name">
                  <h2><a href="post/user/{{id}}" id = "username">{{username}}</a></h2>
              </div>
            </div>
            <div class="panel-body">
              <div class="profile-thumb">
                <input type ='hidden' id = 'profile_img' name = 'profile_img' Value = {{picture}}>

                  <img src={{picture}} alt="" id = "profile_img_src">
              </div>
              <a href="#" class="fb-user-mail">{{email}}</a>    
            </div>
        </div>
        
        <div class="panel profile-info">
          <form class="form-horizontal" role = "form"  id = "formpost" enctype="multipart/form-data">
              <textarea id ="content" class="form-control input-lg p-text-area" rows="2" placeholder="Whats in your mind today?" name="content"></textarea>
                            {{!-- thêm ảnh  --}}
                      <div class="upload__box fileupload" id="fileupload" >
                    <div class="upload__btn-box">
                        <div class="upload__img-wrap"></div>
                        <label class="upload__btn">
                        
                        <p>Upload images</p>
                        <input type="file" multiple="" data-max_length="10" class="upload__inputfile">

                        </label>


                    </div>
                    <button type="button" class="btn btn-danger-soft" onclick="closeimageModalpost()" >Close</button>

                    </div>
          {{!-- thêm video --}}
            <div class="col-xxl-10 videoupload" id = 'videoupload' >
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3" id="upload" >
								<h4 class="mb-4 mt-0">Upload your Post video</h4>
								<div class="text-center">
									<!-- Image upload -->
                                      <input type ='text' id = 'linkyoutube' name = 'linkyoutube' Value = '' placeholder = 'Link Youtube '>

									<!-- Button -->
                                     <video width="300" controls>
                                    <source src="" id="video_here">
                                        Your browser does not support HTML5 video.
                                    </video>
                                       <input type="file"  name="filevideo" class="file_multi_video" id="customvideo" accept="video/*">

									<label class="btn btn-success-soft btn-block" for="customvideo">Upload</label>
                                    <button type="button" class="btn btn-danger-soft delete_video_post"   onclick="deletevideopost()">Delete Video</button>

									<button type="button" class="btn btn-danger-soft" onclick="closevideoModalpost()" >Close</button>

									<!-- Content -->
								</div>  
							</div>
						</div>
					</div>

                   


            {{!-- <div class="file-upload">
            <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>

            <div class="image-upload-wrap"> 
                <input class="file-upload-input" type='file' onch   ange="readURL(this);" accept="image/*" />
                <div class="drag-text">
                <h3>Drag and drop a file or select add Image</h3>
                </div>
            </div>
            <div class="file-upload-content">
                <img class="file-upload-image" src="#" alt="your image" />
                <div class="image-title-wrap">
                <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
                </div>
            </div>
            </div> --}}       

                 <button type="button" id="upimg" class="btn btn-info pull-left " onclick = 'addUpload()'>Thêm ảnh</button>
                 <button type="button" id="upvideo" class="btn btn-info pull-left" onclick = 'addUpload2()'>Thêm Video</button>

            <button type="submit" id="postBtn" class="btn btn-info pull-right">Post</button>

          
          
          </form>

        </div>
        
        <div class="panel" id= "status">
          <template id  = 'post'>
          <div class="panel-body">
              <div class="fb-user-thumb">
                  <img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" id ='fb-user-thumb' class="fb-user-image">
              </div>
              <div class="fb-user-details" id = 'fb-user-details'>
                    <div class='dropdown'>
                   <button class='btn btn-secondary dropdown-toggle' type='button' id='dropdownMenuButton1' data-bs-toggle='dropdown' aria-expanded='false'> </button>
                     <ul class='dropdown-menu' aria-labelledby='dropdownMenuButton1'>
                    <button type='button' class='btn btn-primary'  data-toggle='modal' data-target='#myModal' >Edit</button>
                  <button type='button' class='btn-primarydelete' >Delete</button>
               </ul>
                </div>
                  <h3><a href="#" class = "display-name">Margarita Elina</a></h3>
                  <p>7 minutes ago near Alaska, USA</p>
              </div>
              <div class="clearfix"></div>
              <p class="fb-user-status"> </p>
                    <div class="imageContainer" >
                            
                        </div>
                    <div id="myModals" class="modals">
                        <span class="close" id = "close" onclick="closeModalimage()">&times;</span>
                        <img class="modal-contents" id="img01">
                        </div>
                        <p id = "content_post">Video here:</p>
              <video  controls id= "videolocal">
            <source src="" id="video_here" class = "videolocal">
                Your browser does not support HTML5 video.
            </video>
            <iframe  src=""  id = 'videoyoutube'></iframe>

              <div class="fb-status-container fb-border">
                  <div class="fb-time-action">
                      <a href="#" title="Like this">Like</a>
                      <span>-</span>
                      <a href="#" title="Leave a comment">Comments</a>
                      <span>-</span>
                      <a href="#" title="Send this to friend or post it on your time line">Share</a>
                  </div>
              </div>
        
        
              <div class="fb-status-container fb-border fb-gray-bg">
                  <div class="fb-time-action like-info">
                      <a href="#">Jhon Due,</a>
                      <a href="#">Danieal Kalion</a>
                      <span>and</span>
                      <a href="#">40 more</a>
                      <span>like this</span>
                  </div>
        
                  <ul class="fb-comments" id="fb-comments">
                      <template id="cmt">
                      <li>
                          <a href="#" class="cmt-thumb">
                              <img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" >
                          </a>
                          <div class="cmt-details" id= "cmt-details">
                              <a href="#" class = "usercmt">Jhone due</a>
                              <span class="cmtcontent" value=""> is world famous professional photographer.  with forward thinking clients to create beautiful, </span>
                              <p>40 minutes ago - <a href="#" class="like-link">Like</a></p>
                          </div>
                      </li>
                      </template>
                      
                      
                      <li>
                          <a href="#" class="cmt-thumb">
                              <img src="https://bootdey.com/img/Content/avatar/avatar8.png" alt="">
                          </a>
                          <div class="cmt-form">
                              <textarea class="form-control" id = "contentcmt" placeholder="Write a comment..." name=""></textarea>
                             <br>
                              <footer class="cmt-footer">
                                  
                                    <button type="button" id="postBtn3" class="btn btn-info pull-right" value ="">Comments</button>
                                    <ul class="nav nav-pills">
                                        <li><a href="#"><i class="fa fa-map-marker"></i></a></li>
                                        <li><a href="#"><i class="fa fa-camera"></i></a></li>
                                        <li><a href="#"><i class=" fa fa-film"></i></a></li>
                                        <li><a href="#"><i class="fa fa-microphone"></i></a></li>
                                    </ul>
                                </footer>
                          </div>
                      </li>
                  </ul>
                  <div class="clearfix"></div>
              </div>
          </div>  
        </template>
          <div class="modal fade bd-example-modal-lg" id="myModal" tabindex="-1" role="dialog"> 
                <div class="modal-dialog modal-dialog-centered modal-lg">
                <div class="modal-content">
                
                    <!-- Modal Header -->   
                    <div class="modal-header">
                    <h4 class="modal-title" id="txtTitle">Modal Heading</h4>    
                    <button type="button" class="closemodal" id="closemodal"  data-dismiss="modal" onclick="closeModal()">&times;</button>
                    </div>
                    
                    <!-- Modal body -->
                    <div class="modal-body">
                        <form>
                        <textarea name= "content2" class="form-control input-lg p-text-area" id="txtBody" rows="2" >asds</textarea>
                        {{!-- thêm ảnh --}}
                        <div class="upload__box_edit fileuploadedit" id="fileuploadedit" >
                    <div class="upload__btn-box">
                        <div class="upload__img-wrap_edit"></div>
                        <label class="upload__btn">                        
                        <p>Upload images</p>
                        <input type="file" multiple="" data-max_length="10" class="upload__inputfile upload__inputfile_edit">
                        </label>
                    </div>
                    <button type="button" class="btn btn-danger-soft" onclick="closeimageModalpost_edit()" >Close</button>

                    </div>
                        {{!-- hiện ảnh --}}
                        <div class="imageContainers" id="imageContainers" > </div >
                        {{!-- hiện video --}}
                            <div class="col-xxl-12 videoupload_edit" id = 'videoupload_edit' >
						<div class="bg-secondary-soft px-4 py-5 rounded">
							<div class="row g-3">
								<h4 class="mb-4 mt-0">Your Post video</h4>
								<div class="text-center">
									<!-- Image upload -->
                                      <input type ='text' id = 'linkyoutube-modal' name = 'linkyoutube' Value = '' placeholder = 'Link Youtube '>

									<!-- Button -->
                                      <video width="400" controls id = 'video_modal'>
                                        <source src="" id="video_modal_edit">
                                            Your browser does not support HTML5 video.
                                        </video>
                                       <input type="file"  name="filevideo" class="file_multi_video_edit" id="video_upload_edit" accept="video/*">

									<label class="btn btn-success-soft btn-block upload_edit" id="upload_edit" for="video_upload_edit">Upload</label>
                                    <button type="button" class="btn btn-danger-soft delete_video_edit" id="delete_video_edit" onclick="deletevideoModalpost_edit()" >Delete Video</button>

									<button type="button" class="btn btn-danger-soft close_video_edit" id="close_video_edit" onclick="closevideoModalpost_edit()" >Close</button>

									<!-- Content -->
								</div>  
							</div>
						</div>
					</div>
                        {{!-- hiện video --}}
                     
                    </form>
                    <footer class="panel-footer">
                        <button type="button" class="btn btn-info pull-left"   value ="" onclick = 'addUploadimageedit()'>Thêm ảnh</button>
                        <button type="button" class="btn btn-info pull-left"  value ="" onclick = 'addUploadvideoedit()'>Thêm video</button>

                        <button type="button" class="btn btn-info pull-right"  id ="postBtn2">Save changes</button>
                        
                    </footer>
                    </div>
                    <template id = 'imagepost'> 
                        <img src ="" height="150" width="300" id = "imgpost" />
                            </template>
                                            
                        <!-- Modal footer -->
                        <div class="modal-footer">
                        <button type="button" class="btn btn-danger" data-dismiss="modal" onclick="closeModal()">Close</button>
                        </div>
                        
                    </div>
                    </div>
            </div>
        
        </div>
  </div>
</div>

